.absolute-center,
#wwaf .wwaf-wrapper .map-wrapper:before,#wwaf .wwaf-wrapper .map-wrapper .search-box .toggle>i,#wwaf .wwaf-wrapper .map-wrapper .info-box .btnClose>i,#wwaf .wwaf-wrapper .map-wrapper .loading .text{position:absolute;top:50%;left:50%;-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
#wwaf .wwaf-wrapper .map-wrapper{position:relative;background-color:#bababa;overflow:hidden}
#wwaf .wwaf-wrapper .map-wrapper:before{content:'';background:url('../images/bg-map.png') no-repeat scroll top left;width:128px;height:126px}
#wwaf .wwaf-wrapper .map-wrapper .google-map{position:absolute;z-index:1;top:0px;left:0px;width:100%;height:100%}
#wwaf .wwaf-wrapper .map-wrapper .initial-cover{position:absolute;z-index:0;top:0px;left:0px;width:100%;height:100%;background-color:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
#wwaf .wwaf-wrapper .map-wrapper .search-box{position:absolute;z-index:2;top:20px;left:20px;width:70px;height:70px;overflow:hidden;background-color:rgba(255,255,255,0.4);-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;padding-left:70px}
#wwaf .wwaf-wrapper .map-wrapper .search-box .toggle{padding:20px;cursor:pointer;position:absolute;z-index:10;top:0;left:0;height:70px;width:70px;-moz-transition:color .2s ease-in-out;-o-transition:color .2s ease-in-out;-webkit-transition:color .2s ease-in-out;transition:color .2s ease-in-out}
#wwaf .wwaf-wrapper .map-wrapper .search-box .covered{width:100%;height:100%;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
#wwaf .wwaf-wrapper .map-wrapper .search-box:hover .toggle{color:#eb1069}
#wwaf .wwaf-wrapper .map-wrapper .search-box form{width:100%;height:100%}
#wwaf .wwaf-wrapper .map-wrapper .search-box form input[type="text"]{width:100%;height:100%;padding-top:20px;padding-bottom:20px;padding-right:180px;padding-left:20px;border:0px none;outline:none;font-size:16px}
#wwaf .wwaf-wrapper .map-wrapper .search-box.with-countries{padding-right:300px;}
#wwaf .wwaf-wrapper .map-wrapper .search-box form .country-search{position:absolute;top:50%;right:160px;width:160px;height:100%;-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%)}
#wwaf .wwaf-wrapper .map-wrapper .search-box form .country-search label.checkboxed{position:absolute;top:50%;width:100%;-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);margin-bottom:0;font-size:14px;font-weight:100;text-transform:uppercase}
#wwaf .wwaf-wrapper .map-wrapper .search-box form .select-wrapper{position:absolute;top:50%;right:0;width:160px;height:100%;-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%)}
#wwaf .wwaf-wrapper .map-wrapper .search-box form .select-wrapper.disabled{-wefilter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);opacity:.3;}
#wwaf .wwaf-wrapper .map-wrapper .search-box form .select-wrapper .caption{position:absolute;top:50%;left:0px;-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);padding-left:15px;height:35px;font-size:14px;font-weight:100;line-height:35px;margin-bottom:0;text-transform:uppercase}
#wwaf .wwaf-wrapper .map-wrapper .search-box form .select-wrapper .indicator{position:absolute;top:45%;right:15px;width:7px;height:7px;-moz-transform:translateY(-50%) rotate(-45deg);-ms-transform:translateY(-50%) rotate(-45deg);-webkit-transform:translateY(-50%) rotate(-45deg);transform:translateY(-50%) rotate(-45deg);border-left:1px solid black;border-bottom:1px solid black}
#wwaf .wwaf-wrapper .map-wrapper .search-box form .select-wrapper select{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;border:0px none;outline:none;-wefilter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-webkit-appearance:none;}
#wwaf .wwaf-wrapper .map-wrapper .info-box{position:absolute;z-index:4;top:0;height:100%;background-color:#fff;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#wwaf .wwaf-wrapper .map-wrapper .info-box .btnClose{position:absolute;z-index:10;top:10px;left:10px;background-color:rgba(0,0,0,0.35);color:#fff;padding:15px;text-align:center;width:45px;height:45px;cursor:pointer}
#wwaf .wwaf-wrapper .map-wrapper .info-box .btnClose:hover{background-color:rgba(0,0,0,0.85)}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content{position:relative}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .mediaWrap{min-height:100px;position:relative;margin-bottom:30px}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .mediaWrap .imgWrap{overflow:hidden;min-height:100px}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .mediaWrap .imgWrap>img{width:100%;height:auto}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .mediaWrap .logoWrap{position:absolute;bottom:-15px;left:20px;max-width:100px;overflow:hidden;border:2px solid #fff}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .mediaWrap .logoWrap>img{display:block;width:100%;height:auto}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .body{padding:0 20px}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .body h3.title{color:#eb1069;text-transform:uppercase}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .body .info{font-size:14px;margin-bottom:10px}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .body .info strong{display:inline-block;vertical-align:middle;*vertical-align:auto;*zoom:1;*display:inline;margin-right:0.5em}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .body .info a{text-decoration:none;color:#212121}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .body .info a:hover{color:#eb1069}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .body .info.socials a{display:inline-block;vertical-align:middle;*vertical-align:auto;*zoom:1;*display:inline;margin-right:0.75em}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .body .info.extras .servicesDescription{display:inline-block}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .body .info.extras .services{display:inline-block}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content .body.no-media{padding-top:60px}
#wwaf .wwaf-wrapper .map-wrapper .info-box .signup{position:absolute;z-index:1;bottom:0;left:0;width:100%;padding:20px;font-size:14px}
#wwaf .wwaf-wrapper .map-wrapper .info-box .signup a{text-decoration:none}
#wwaf .wwaf-wrapper .map-wrapper .info-box .signup a:hover{color:#eb1069}
#wwaf .wwaf-wrapper .map-wrapper .loading{position:absolute;z-index:0;top:0;left:0;width:100%;height:100%;color:#212121;background-color:rgba(255,255,255,0.85);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-moz-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;-webkit-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out}
#wwaf .wwaf-wrapper .map-wrapper .loading .text{font-size:30px;font-weight:100;padding:20px;height:120px;line-height:40px;padding-top:80px}
#wwaf .wwaf-wrapper .map-wrapper .loading .text:before{content:'';display:block;width:70px;height:70px;position:absolute;top:0;left:50%;-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);background-image:url('../images/animated-search.gif');background-position:center center;background-size:contain;background-repeat:no-repeat}
#wwaf .wwaf-wrapper .map-wrapper .loading.on{z-index:10;filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1}
@media screen and (max-width:767px){#wwaf .wwaf-wrapper .map-wrapper{height:650px}
#wwaf .wwaf-wrapper .map-wrapper .search-box,#wwaf .wwaf-wrapper .map-wrapper .gps-box{width:50px;height:50px;padding-left:50px}
#wwaf .wwaf-wrapper .map-wrapper .search-box .toggle,#wwaf .wwaf-wrapper .map-wrapper .gps-box .toggle{width:50px;height:50px}
#wwaf .wwaf-wrapper .map-wrapper .gps-box{top:71px}
#wwaf .wwaf-wrapper .map-wrapper .search-box .covered input{height:50px;padding-right:100px}
#wwaf .wwaf-wrapper .map-wrapper .search-box .covered .select-wrapper{width:100px}
#wwaf .wwaf-wrapper .map-wrapper .info-box{z-index:0;width:100%;padding:40px 20px;background-color:rgba(0,0,0,0.75);overflow-y:auto}
#wwaf .wwaf-wrapper .map-wrapper .info-box .btnClose{top:0px;right:4px;left:auto;background-color:transparent !important}
#wwaf .wwaf-wrapper .map-wrapper .info-box .content{background-color:#fff;padding-bottom:20px}
}
@media screen and (min-width:768px){#wwaf .wwaf-wrapper .map-wrapper{height:650px}
#wwaf .wwaf-wrapper .map-wrapper .info-box{right:-320px;width:320px}
}
#wwaf .wwaf-wrapper .results-wrapper{margin-top:15px}
#wwaf .wwaf-wrapper .results-wrapper .location-wrapper{padding-bottom:15px;margin-bottom:15px;border-bottom:1px solid #888}
#wwaf .wwaf-wrapper .results-wrapper .location-wrapper h4{color:#eb1069}
#wwaf .wwaf-wrapper .results-wrapper .location-wrapper address{font-style:italic;margin-bottom:5px}
#wwaf .wwaf-wrapper .results-wrapper .location-wrapper .description{font-size:13px;margin-bottom:5px}
#wwaf .wwaf-wrapper .results-wrapper .location-wrapper .map-action{display:inline-block;vertical-align:middle;*vertical-align:auto;*zoom:1;*display:inline;font-size:13px;padding:4px;border:1px solid #888;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
#wwaf .wwaf-wrapper.search-on .search-box{width:90%;width:calc(100% - 90px);background-color:#fff}
#wwaf .wwaf-wrapper.search-on .search-box .toggle{color:#eb1069;background-color:#fff}
#wwaf .wwaf-wrapper.search-on .search-box .covered{filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1}
#wwaf .wwaf-wrapper.initial-on .initial-cover{filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1;z-index:2}
#wwaf .wwaf-wrapper.initial-on .search-box{top:50%;left:50%;-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);width:50%}
#wwaf .wwaf-wrapper.gps-on .gps-box{background-color:#fff}
#wwaf .wwaf-wrapper.gps-on .gps-box .toggle{color:#eb1069;background-color:#fff}
#wwaf .wwaf-wrapper.gps-on .gps-box .covered{filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1}
@media screen and (max-width:767px){#wwaf .wwaf-wrapper.info-on .info-box{z-index:5;filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1}
#wwaf .wwaf-wrapper.initial-on .search-box{width:90%}
}
@media screen and (min-width:768px){#wwaf .wwaf-wrapper.info-on .info-box{right:0;filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1}
#wwaf .wwaf-wrapper.search-on.info-on .search-box{width:50%;width:calc(100% - 40px - 320px)}
}
