
form#wwaf-global-settings .api-title {padding: 20px; border: 1px solid black;}
form#wwaf-global-settings .api-title.success { border-color: #3da513; color: #3da513; }
form#wwaf-global-settings .api-title.error   { border-color: #bc2800; color: #bc2800; }
